<a href='https://www.altschoolafrica.com/'><h2> PYTHON FOR Data Engineering</a>
___

# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [ ]:
import pandas as pd
import numpy as np

**Check the head of the DataFrame.**

In [ ]:
ecom = pd.read_csv('/content/Ecommerce Purchases.csv')
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [ ]:
x = ecom['Purchase Price'].mean()
round(x,2)

50.35

** What were the highest and lowest purchase prices? **

In [ ]:
highest_Pur_price = ecom['Purchase Price'].max()
print(f"The highest purchase price is ${highest_Pur_price}")

the highest purchase price is $99.99

In [ ]:
lowest_Pur_price = ecom['Purchase Price'].min()
print(f"The lowest purchase price is ${lowest_Pur_price}")

The lowest purchase price is $0.0

** How many people have English 'en' as their Language of choice on the website? **

In [ ]:
lang = ecom[ecom['Language'] == 'en']
#print(lang.count())
print(f"{len(lang)} have English as their language of choice on the website")

1098 have English as their language of choice on the website

** How many people have the job title of "Lawyer" ? **

In [ ]:
job_title = ecom[ecom['Job'] == 'Lawyer']
#print(job_title.count())
print(f"{len(job_title)} has Lawyer as their Job Title")

30 has Lawyer as their Job Title

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [ ]:
# Finding the top 5 most common job titles
b = ecom['AM or PM'].value_counts()
AM = b.loc['PM']
PM = b.loc['AM']
#print(b)
print(f"\n{AM} people made purchase during AM")
print(f"\n{PM} people made purchase during PM")

5068 people made purchase during AM

4932 people made purchase during PM

** What are the 5 most common Job Titles? **

In [ ]:
# Finding the top 5 most common job titles

top_5_job = ecom['Job'].value_counts()
t = top_5_job.head()
#converting the index's of the DataFrame to a list
index_list = t.index.tolist()
count = 1
#print(t)
#loop through the created list(index_list) to get the print out of the top 5 common job
for i in index_list:
  print(f"\n{i} is {count} in the top 5 common jobs")
  count += 1

Interior and spatial designer is 1 in the top 5 common jobs

Lawyer is 2 in the top 5 common jobs

Social researcher is 3 in the top 5 common jobs

Purchasing manager is 4 in the top 5 common jobs

Designer, jewellery is 5 in the top 5 common jobs

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [ ]:
#the purchase price ot the purchase made at "90 WT"

pp = ecom[ecom['Lot'] == '90 WT']['Purchase Price']
#print(pp)
print(f"\nThe Purchase price for the purchase that was made at Longtitude 90 WT is ${pp[513]}")

The Purchase price for the purchase that was made at Longtitude 90 WT is $75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [ ]:
# Finding the email of the person with the following Credit Card Number: 4926535242672853

mail = ecom[ecom['Credit Card'] == 4926535242672853]
m = mail['Email']
print(m)
print(f"\nThe Purchase made with Credit Card Number(4926535242672853) had this e-mail: {m[1234]}")

1234    bondellen@williams-garza.com
Name: Email, dtype: object

The Purchase made with Credit Card Number(4926535242672853) had this e-mail: bondellen@williams-garza.com

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [ ]:
# Finding the total number of people who have "American Express" as their CC provider and who made a purchase above $95

chaebol = ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)]
c = chaebol.count()
print(c)
print(f"\n{len(chaebol)} people have American Express as their CC Provider and made a purchase of over $95.")

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
CC exp_year         39
dtype: int64

39 people have American Express as their CC Provider and made a purchase of over $95.

** Hard: How many people have a credit card that expires in 2025? **

In [ ]:
#number of people whose credit card expires in the year 2025

def year(ecom):
  if '25' in ecom['CC Exp Date']:
    return '2025' 
  else:
    return 'not in 2025'
ecom["CC exp_year"] = ecom.apply(year,axis="columns")
l = len(ecom[ecom['CC exp_year'] == '2025'])
print(l)
print(f"\n{l} people have a Credit Card expiring in 2025")

1033

1033 people have a Credit Card expiring in 2025

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [ ]:
# Finding the top 5 most popular email providers

e = ecom['Email'].apply(lambda x: x.split('@')[-1])
sorted_mail_domain = e.value_counts()#.sort_values(ascending=False)
s = sorted_mail_domain.head()
s_list = s.index.tolist()
count = 1
print(s)
for i in s_list:
  print(f"\n{i} is {count} in the top 5 most popular email providers")
  count += 1

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

hotmail.com is 1 in the top 5 most popular email providers

yahoo.com is 2 in the top 5 most popular email providers

gmail.com is 3 in the top 5 most popular email providers

smith.com is 4 in the top 5 most popular email providers

williams.com is 5 in the top 5 most popular email providers

# Great Job!